.DS_Store
#*.pdf
*.fastq.gz
*.fastq
*.bam
*.a
*.o
*.so
code/bin/*
data-repo/*
pipelines/hicseq-standard/inputs/fastq
pipelines/hicseq-standard/inputs/sample-sheet.tsv
results
results.*
run-custom*
errors
.nfs*
.Rproj.user
*.Rproj
misc/misc_files/
.Rhistory
misc_files
fix_install.R
*.out
*.err
slurm.*
_tmp.*
