.DS_Store
#*.pdf
*.fastq.gz
*.fastq
*.bam
*.a
*.o
*.so
code/bin/*
data-repo/*
data_external
pipelines/hicseq-standard/inputs/fastq*
pipelines/hicseq-standard/inputs/sample-sheet*.tsv
results
results*
ANALYSES
run-custom*
errors
.nfs*
.Rproj.user
*.Rproj
misc/misc_files/
.Rhistory
misc_files
fix_install.R
*.out
*.err
slurm.*
_tmp.*
